/* custom.css */

/* Changer la couleur du logo en jaune */
.navbar-brand {
    color: rgb(255, 204, 92) !important;
}

/* Remplacer la couleur violette par du vert */
a {
    color: rgb(125, 198, 7) !important;
}

.btn-primary {
    background-color: rgb(125, 198, 7) !important;
    border-color: rgb(125, 198, 7) !important;
}

a:hover, a:focus {
    color: rgb(125, 198, 7) !important;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(125, 198, 7) !important;
    border-color: rgb(125, 198, 7) !important;
}